main{
    .cards{
        .card-navigation{
            display: flex;
            justify-content: space-between;
            background: black;
            color: white;
            padding: 0 30px;

            .filter-by-quantity{
                display: flex;
                align-items: center;
                font-size: 18px;
                font-weight: 500;
                margin: 15px 0;

                #checkFilt{
                    width: 20px;
                    height: 20px;
                }
            }

            @media all and (max-width:600px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .card-list{
            width: 95%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}