main{
    .cards{
        .card-navigation{
            display: flex;
            justify-content: space-between;
            background: black;
            color: white;
            padding: 30px;

            .pagination{
                width: 60%;
                display: flex;
                justify-content: space-around;
                align-items: center;

                button{
                    color: white;
                    padding: 10px 15px;
                    background: black;
                    border: 2px solid white;
                    cursor: pointer;
                    transition: all 0.2s ease-out;
                    font-size: 18px;

                    &:hover, &.active{
                        border-color: rgb(111, 255, 45);
                        background: rgb(111, 255, 45);
                        color: white;
                    }
                }
            }

            .filter-by-quantity{
                display: flex;
                align-items: center;
                width: 15%;
                font-size: 18px;
                font-weight: 500;

                #checkFilt{
                    width: 20px;
                    height: 20px;
                }
                //
                //#checkFilt+label {
                //    display: inline-flex;
                //    align-items: center;
                //    user-select: none;
                //
                //    &::before{
                //        content: '';
                //        display: inline-block;
                //        width: 1em;
                //        height: 1em;
                //        flex-shrink: 0;
                //        flex-grow: 0;
                //        border: 1px solid #adb5bd;
                //        border-radius: 0.25em;
                //        margin-right: 0.5em;
                //        background: white;
                //    }
                //}
            }
        }

        .card-list{
            width: 95%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}