nav{
    padding: 32px;
    width: 95%;
    margin: auto;

    h1{
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 24px;
    }

    p{
        font-weight: 400;
        font-size: 14px;
        display: flex;
        align-items: center;
        letter-spacing: 0.01em;
        opacity: 0.6;
    }
}